@font-face {
  src: url('./fonts/Gotham/Gotham-Bold.otf');
  font-family: Gotham;
  font-weight: 600;
}
@font-face {
  src: url('./fonts/Gotham/Gotham-Medium.otf');
  font-family: Gotham;
  font-weight: 500;
}
@font-face {
  src: url('./fonts/Gotham/Gotham-Book.otf');
  font-family: Gotham;
  font-weight: 400;
}
